.Herta {
    background-image: url($sprite/herta.png);
    width: 300px;
    height: 300px;
    animation: anim 0.6s steps(6) infinite;
    background-size: 600% auto;
    opacity: 50%;
    position: fixed;
}

@keyframes anim {
    100% {
        background-position: -600%
    }
}

@media all and (max-width: 768px) {
    .Herta {
        width: 200px;
        height: 200px;
    }
}