.Herta {
    background-image: url($sprite/herta.png);
    /*
    original: 425x340
    */
    width: calc(425px / 1.5);
    height: calc(340px / 1.5);
    animation: anim 0.6s steps(6) infinite;
    background-size: 600% auto;
    position: fixed;
}

@keyframes anim {
    100% {
        background-position: -600%
    }
}

@media all and (max-width: 768px) {
    .Herta {
        width: calc(425px / 3);
        height: calc(340px / 3);
    }
}